<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Roteiros</title>

    <link rel="stylesheet"
      href="/static/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="/static/css/bootstrap-tokenfield.min.css">
    <link rel="stylesheet"
      href="/static/css/style.css">
    <!-- Custom Fonts -->
    <link rel="stylesheet"
      href="/static/css/font-awesome.min.css">
      <link rel="stylesheet"
      href="/static/css/sweetalert.css">

      <script src="/static/js/sweetalert.min.js"></script>

      <style type="text/css">
          .centered{  text-align:center;  }
          .TamanhoImg{ max-height: 30%; max-width: 30%; }
      </style>


      <script type="text/javascript">
                            //editarRoteiro/id
                            ///excluirRoteiro/id

        function editar(idRoteiro){
            window.location.href = "editarRoteiro/"+String(idRoteiro);
        }


        function excluir(idRoteiro)
        {

            swal({
                      title: "Tem certeza ?",
                      text: "Você não terá acesso a esse registro novamente!",
                      type: "warning",
                      showCancelButton: true,
                      confirmButtonColor: "#DD6B55",
                      confirmButtonText: "Sim, remova-o!",
                      closeOnConfirm: false
                  },
                  function()
                  {  window.location.href = "excluirRoteiro/"+String(idRoteiro);  });

        }
      </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Claket</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
               
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>Perfil</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i>Sair</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu"> 
                        <li>
                            <a href="{{url_for("planos")}}">Planos</a>
                        </li>
                        <li>
                            <a href="#"></i>Roteiros<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{url_for("listarRoteiros")}}">Meus Roteiros</a>
                                </li>
                                <li>
                                    <a href="{{url_for("cadastrarRoteiro")}}">Cadastrar Roteiro</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Meus Roteiros</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                {{myContent}}
                    <table class="table table-bordered">
                        <thead class="thead-default">
                            <tr>
                                <th class="centered"><h3>Roteiro</h3></th>
                                <th class="centered"><h3>Data da Avaliação</h3></th>
                                <th class="centered"><h3>Nota</h3></th>
                                
                            </tr>
                        </thead>
                        {%  for roteiro in roteiros %}
                        <tr class="centered">
                            <td><a href="/detalharRoteiro/{{ roteiro.getId() }}" >{{ roteiro.getTitulo() }}</a></td>
                            <td>dd/mm/aaaa</td>
                            <td>
                                {% if roteiro.getAceitacao() == None %}
                                    <img class="TamanhoImg" src="/static/img/exclamation.png" alt="Roteiro não cadastrado!">
                                {% else %}
                                    {{ roteiro.getAceitacao()}}
                                {% endif %}
                            </td>
                            <td><button class="btn btn-default btn-primary" onclick="editar('{{roteiro.getId()}}');">Editar</button></td>
                            <td><button class="btn btn-default btn-danger" onclick="excluir('{{roteiro.getId()}}');">Excluir</button></td>



                        </tr>
                        {% endfor %}
                </table>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-tokenfield.js"></script>
    <script src="/static/js/script.js"></script>

   <script>
                $('#tokenfield').tokenfield({
                        autocomplete: {
                        source: ['bullying','medieval','carros'],
                        delay: 100
                    },
                 showAutocompleteOnFocus: true
                })


                $('#tokenfield').tokenfield();
    </script>

</body>
</html>